{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 mb-4"> 
  <form class="registerContent" action="{% url 'users:cadastro' %}" method="POST">    
    <div class="form-container-custom">
      <h2 class="text-center mb-4">Cadastro</h2>
      {% csrf_token %}
      <div class="row">
          {% for field in form.visible_fields %}
          <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
              <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
              {{ field }}
          </div>
          {% for error in field.errors %}
          <div class="alert alert-danger">
              {{ error }}
          </div>
          {% endfor %}
        {% endfor %}
      <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-danger btn-lg">Cadastrar</button>
      </div>
    </div>
  </form>
</div>

<script src="{% static 'js/register.js' %}"></script> 
{% endblock %}