{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 mb-4"> 
  <h1 class="login-title">Login</h1>
  <form class="login-section" action="{% url 'users:login' %}" method="POST">
      <div class="form-container-custom">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form.visible_fields %}
            <div class="form-pair">
              <label for="{{ field.id_for_label }}" class="form-label-custom">{{ field.label }}</label>
              {{ field }}
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn-cadastrar">Login</button>
        </div>
      <div class="row justify-content-center mt-3 align-items-center text-center">
        <p class="info mb-2">Não é cadastrado?</p>
        <a href="{% url 'users:cadastro' %}" class="btn-Inscrever-se">Cadastre-se</a>
      </div>
      </div>
  </form>
</div>
{% endblock %}