{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4 mb-4"> 
  <form class="login-section" action="{% url 'users:login' %}" method="POST">
      <div class="form-container-custom">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                {{ field }}
            </div>
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
          {% endfor %}
          <button type="submit" class="btn btn-danger">Login</button>
          <div class="row justify-content-center">
            <p class="info row justify-content-center">Não é cadastrado?</p>
            <div class="row justify-content-center">
              <button type="" class="btn btn-danger">Cadastre-se</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

{% endblock %}
