{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container central">
        <div>
            <form class="Perfil">
            <!-- Título -->
            <h4 class="font-weight-bold mb-3 text-center">Perfil</h4>
                <!-- Nome -->
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Nome</label> 
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </span>
                    </div>
                    <div id="nameHelp" class="form-text"></div>
                </div>

                <!-- CPF -->
                <div class="mb-3">
                    <label for="exampleInputCPF1" class="form-label">CPF</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputCPF1" aria-describedby="CPFHelp" maxlength="14">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                              <path d="M8 1a4 4 0 0 0-4 4v3H3.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H12V5a4 4 0 0 0-4-4zM4 5a3 3 0 0 1 6 0v3H4V5zm-1 4h9v6H3V9z"/>
                            </svg>
                          </span>
                    </div>
                    <div id="CPFHelp" class="form-text"></div>

                </div>  

                <!-- Email -->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span class="input-group-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </span>              
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <!-- Senha -->
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Senha</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                          <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                              <path d="M8 1a4 4 0 0 0-4 4v3H3.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H12V5a4 4 0 0 0-4-4zM4 5a3 3 0 0 1 6 0v3H4V5zm-1 4h9v6H3V9z"/>
                            </svg>
                          </span>
                    </div>
                </div>

                <!-- Telefone -->
                <div class="mb-3">
                    <label for="exampleInputTel1" class="form-label">Telefone</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" id="exampleInputTel1" aria-describedby="telHelp" maxlength="15">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </span>
                    </div>
                    <div id="telHelp" class="form-text"></div>
                </div>

                <!-- Local de Trabalho -->
                <div class="mb-3">
                    <label for="exampleInputLocal1" class="form-label">Local de Trabalho</label>
                    <div class="input-group">
                        <select class="form-select" id="exampleInputLocal1" aria-describedby="localHelp">
                            <option selected disabled>Selecione uma opção</option>
                            <option value="brb">BRB</option>
                            <option value="outro">Outro</option>
                        </select>
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                            </svg>
                        </span>
                    </div>
                    <div id="localHelp" class="form-text"></div>
                </div>

                <!-- Locação -->
                <div class="mb-3 d-none" id="locacaoDiv">
                    <label for="exampleInputLocacao" class="form-label">Locação</label>
                    <input type="text" class="form-control" id="exampleInputLocacao">
                </div>

                <!-- Botões -->
                <div class="btns-container">
                    <button type="submit" class="btn btn-danger mx-2">Salvar</button>
                    <button type="button" class="btn btn-danger mx-2">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}