{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="app-header">
  <div class="header-top">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  {% include 'includes/alertas.html' %}

</header>

  <h1 class="pageTitle">Bem-vindo(a)!</h1>

<div class="image-container">
  <img src="{% static 'assets/ImagemBRBLab.png' %}" alt="Imagem BRBLab" class="home-image">
  <div class="text-bubble">
      <p>BRBLAB é a sede do Programa de Inovação Aberta do BRB 
        com startups, um ambiente de desenvolvimento de negócios 
        inovadores e fomento do ecossistema de inovação do DF 
        e iniciativas voltadas para a criação de soluções 
        para o sistema financeiro, governo e cidadão.</p>
     </div>
  </div>
</div>

<!-- Botão de check-in -->

<div class="btn-checkin">
    <button type="button">Check-in</button>
</div>

<!-- Card de Evento - Estilo Moderno Azul Claro -->
<div class="card card-evento-modern">
    <div class="card-body">
        <h5 class="card-title">
        {{ evento.nome }}
        </h5>
        <ul class="list-unstyled">
            <li>
                <i class="bi bi-calendar-event-fill me-2 text-primary"></i>
                <strong>Data: 00/00/0000</strong> {{ evento.data }}
            </li>
            <li>
                <i class="bi bi-clock-fill me-2 text-primary"></i>
                <strong>Hora: 00:00hrs</strong> {{ evento.hora }}
            </li>
            <li>
                <i class="bi bi-geo-alt-fill me-2 text-primary"></i>
                <strong>Ambiente: Teste</strong> {{ evento.ambiente }}
            </li>
        </ul>
    </div>

{% endblock %}