{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="app-header">
  <div class="header-top">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
  <h1 class="pageTitle">Bem-vindo(a)!</h1>
<div class="image-container">
  <img src="{% static 'assets/brbLabIa.png' %}" alt="Imagem BRBLab" class="home-image">
  <div class="text-bubble">
      <p>BRBLAB é a sede do Programa de Inovação Aberta do BRB 
        com startups, um ambiente de desenvolvimento de negócios 
        inovadores e fomento do ecossistema de inovação do DF 
        e iniciativas voltadas para a criação de soluções 
        para o sistema financeiro, governo e cidadão.</p>
     </div>
  </div>
</div>
<div class="btn-checkin">
    <a class="btn-checkin-btn" href="/checkin">Check-in</a>
</div>
 {% if evento_destaque %}
      <div class="card card-evento-modern my-4">
          <div class="card-body">
              <h5 class="card-title">{{ evento_destaque.nome }}</h5>
              <ul class="card-text">
                  <li>
                      <i class="bi bi-calendar-event-fill me-2 text-primary"></i>
                      <strong>Data:</strong> {{ evento_destaque.data }}
                  </li>
                  <li>
                      <i class="bi bi-info-circle-fill me-2 text-primary"></i>
                      <strong>Descrição:</strong> {{ evento_destaque.descricao|truncatewords:5 }}
                  </li>
                  <li>
                      <i class="bi bi-info-circle-fill me-2 text-primary"></i>
                      <strong>Ambiente: </strong> {{ evento_destaque.ambiente }}
                  </li>
                  <li>
                      <i class="bi bi-info-circle-fill me-2 text-primary"></i>
                      <strong>Palestrantes: </strong> {{ evento_destaque.palestrantes}}
                  </li>
                  </ul>
              <div class="evento-actions">
                  <a href="{% url 'event:descricao' id_evento=evento_destaque.id_evento %}" class="btn-Inscrever-se">
                      Saiba Mais
                  </a>
              </div>
          </div>
      </div>
    {% else %}
      <div class="evento-card">
        <div class="alert alert-info">
            Nenhum evento programado no momento. Fique de olho para futuras novidades!
        </div>
      </div>
  {% endif %}
{% endblock %}