{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .checkin-container {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: column;

        width: 100%;
    }

    #scanner-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        width: 100%;
    }

    .ambiente-label {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .ambiente-dropdown {
        max-width: 360px;
        width: 90%;
        height: 40px;

        color: white;
        background-color: #A42453;
        outline: none;
        border: none;
        border-radius: 10px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 1rem;
    }

    .reader-container {
        position: relative;
        
        margin-top: 2rem;
        width: 90%;
        max-width: 700px;
        height: auto;

        overflow: hidden;
        border-radius: 20px;
        border: #A42453 solid 5px;
    }

    #reader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        min-height: 100px;
        height: auto;
    }

    #reader img {
        width: 50%;
    }

    #reader button {
        max-width: 360px;
        width: 80%;
        height: 30px;

        color: white;
        background-color: #A42453;
        outline: none;
        border: none;
        border-radius: 10px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 1rem;
    }

    #reader p {
        text-align: center;

        margin: 10px 0;
        width: 90%;

        font-size: 0.75rem;
        font-weight: bold;
    }

    #loading {
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;

        width: 100%;
        height: 40dvh;
    }

    #loading span {
        border: 5px #0D0458 solid;

        border-left-color: transparent;
        border-radius: 50%;

        width: 100px;
        height: 100px;

        animation: rotate 1s linear infinite;
    }

    #loading p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    #confirm {
        display: none;
        align-items: space-between;
        justify-content: space-between;
        flex-flow: column;

        height: 60dvh;
    }

    #confirm p {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .confirm-btns {
        display:  flex;
        justify-content: space-around;
        width: 100%;
    }

    #confirm button {
        max-width: 360px;
        width: 45%;
        height: 30px;

        color: white;
        background-color: #A42453;
        outline: none;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
    }

    #success {
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;

        width: 100%;
        height: 60dvh;
    }

    #success p {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
        text-align: center;
    }

    #success img {
        width: 150px;
        margin-bottom: 10px;
    }

    #success button {
        max-width: 360px;
        width: 80%;
        height: 30px;

        color: white;
        background-color: #A42453;
        outline: none;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
    }

    #fail {
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;

        height: 60dvh;
    }

    #fail img {
        width: 100px;
    }

    #fail p {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.5em;
        text-align: center;
    }

    #fail button {
        max-width: 360px;
        width: 80%;
        height: 30px;

        color: white;
        background-color: #A42453;
        outline: none;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<div class="checkin-container">
    <div id="scanner-container">
        <label class="ambiente-label" for="ambiente">Escolha o ambiente</label>
        <select class="ambiente-dropdown" name="ambiente" id="ambiente-dropdown">
            <option value="Espaço Gourmet">Espaço Gourmet</option>
            <option value="Mezanino">Mezanino</option>
            <option value="Auditório">Auditório</option>
            <option value="2° Andar">2° Andar</option>
            <option value="3° Andar">3° Andar</option>
        </select>
    
        <div class="reader-container">
            <div id="reader">
                <img src="{% static 'assets/scannerIcon.svg' %}" alt="">
                <button id="activeScannerBtn">Ativar Câmera</button>
                <p>Permita a utilização da sua câmera para começar a leitura.</p>
            </div>
        </div>
    </div>
    <div id="loading">
        <p>Validando CheckIn</p>
        <span class="loader"></span>
    </div>
    <div id="confirm">
        <p>Confirmar CheckIn?</p>
        <div class="confirm-btns">
            <button id="scanner-ok-btn" class="ok">Sim</button>
            <button id="scanner-cancel-btn" class="cancel">Cancelar</button>
        </div>
    </div>
    <div id="success">
        <p>CheckIn realizado com sucesso!</p>
        <img src="{% static 'assets/SuccessIcon.svg' %}" alt="">
        <button id="scanner-leave-btn">Sair</button>
    </div>
    <div id="fail">
        <p>Erro ao validar CheckIn</p>
        <img src="{% static 'assets/FailIcon.svg' %}" alt="">
        <button id="scanner-try-again-btn">Tentar Novamente</button>
    </div>
</div>

<script>
    let code, local

    const activeCameraBtn = document.getElementById('activeScannerBtn')
    const ambienteDropdown = document.getElementById('ambiente-dropdown') 
    const confirmBtn = document.getElementById('scanner-ok-btn')
    const cancelBtn = document.getElementById('scanner-cancel-btn')
    const tryAgainBtn = document.getElementById('scanner-try-again-btn')
    const LeaveBtn = document.getElementById('scanner-leave-btn')

    function show(step) {
    const etapas = ['scanner-container', 'loading', 'confirm', 'success', 'fail']
    etapas.forEach(e => {
        const el = document.getElementById(e)
        if (el) el.style.display = (e === step) ? 'flex' : 'none'
    })
    }
    
    const scanner = new Html5Qrcode("reader")
    
    const qrboxFunction = (viewfinderWidth, viewfinderHeight) => {
        let minEdgePercentage = 0.8;

        let minEdgeSize = Math.min(viewfinderWidth, viewfinderHeight);
        let qrboxSize = Math.floor(minEdgeSize * minEdgePercentage);

        console.log(qrboxSize, qrboxSize*2)
        
        return { width: qrboxSize, height: qrboxSize }
    }
    
    const onScanSuccess = (decodedText, decodedResult) => {
        local = ambienteDropdown.value
        code = decodedText

        show('loading')
        scanner.pause()
        show('confirm')
    }

    const startScanner = () => {
        console.log('helo')
        Html5Qrcode.getCameras().then(devices => {
            if (devices && devices.length) {
                const cameraId = devices[0].id

                scanner.start(
                    cameraId,
                    {
                        fps: 10,
                        qrbox: qrboxFunction
                    },
                    onScanSuccess
                ).catch(err => {
                    console.error("Erro ao iniciar scanner", err)
                })
            }
        }).catch(err => {
            console.error("Erro ao acessar câmeras", err)
        })

    }

    const getCookie = (name) => {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Verifica se este cookie começa com o nome fornecido
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    activeCameraBtn.addEventListener('click', startScanner)
    cancelBtn.addEventListener('click', () => {
        scanner.resume()
        show('scanner-container')
    })
    confirmBtn.addEventListener('click', () => {
        show('loading')

        fetch("/checkin", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({
                codigo: code,
                ambiente: local
            })
        })
        .then(response => {
            if (response.status != 201) {
                return show('fail')
            }
            scanner.stop()
            return show('success')
        })
        .catch(error => {
            console.error("Erro ao enviar dados", error);
        });
        
    })
    tryAgainBtn.addEventListener('click', () => {
        scanner.resume()
        show('scanner-container')
    })
    LeaveBtn.addEventListener('click', () => {
        window.location.href = '/'
    })

</script>
{% endblock %}