{% extends 'base.html' %}

{% block content %}
<div class="form-container-custom">
    <h2 class="text-center mb-4">{{ evento.titulo }}</h2>
    
    <div class="evento-card">
        <div class="card-body">
                <p><strong>Descrição</strong> {{ evento.descricao|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'event:meusEventos' %}" class="btn-Inscrever-se">
            Voltar
        </a>
    </div>
</div>
{% endblock %}