{% extends base.html %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container central">
        <div class="container">
            <h1 style="text-align: center;">Bem-vindo(a)!</h1>

            <div class="image-container">
                <img src="images/brb_lab.jpg" class="img-fluid" alt="brb_lab">
                
                <div class="overlay-wrapper">
                    <div class="overlay-text">
                        <p>
                            BRBLAB é a sede do Programa de Inovação Aberta do BRB com startups, um ambiente de desenvolvimento 
                            de negócios inovadores e fomento do ecossistema de inovação do DF e iniciativas voltadas para a 
                            criação de soluções para o sistema financeiro, governo e cidadão.
                        </p>
                    </div>
                </div>
            </div>

            <div style="text-align: center; margin-top: 20px;">
                <button type="button" class="btn btn-danger">Check-in</button>
            </div>
            <!-- Card de Evento - Estilo Moderno Azul Claro -->
<div class="card card-evento-modern">
    <div class="card-body">
        <h5 class="card-title">
         {{ evento.nome }}
        </h5>
        <ul class="list-unstyled">
            <li>
                <i class="bi bi-calendar-event-fill me-2 text-primary"></i>
                <strong>Data:</strong> {{ evento.data }}
            </li>
            <li>
                <i class="bi bi-clock-fill me-2 text-primary"></i>
                <strong>Hora:</strong> {{ evento.hora }}
            </li>
            <li>
                <i class="bi bi-geo-alt-fill me-2 text-primary"></i>
                <strong>Ambiente:</strong> {{ evento.ambiente }}
            </li>
        </ul>
    </div>
</div>



        </div>
    </div>
</div>
{% endblock %}
