
body{
    height: 100%;
    margin: 0;
    background: linear-gradient(#D38E44, #a42453, #0D0458);
    background-size: cover;
}
.central {
    background-color: #f1f3f5;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    min-height: 94vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0);
}