body{
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #c94b4b, #62135d, #000035);
    background-size: cover;
    display: block;
}
.central {
    background-color: #f1f3f5;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex:1;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 94vh;
    box-shadow: 0 4px 8px rgba(0,0,0,0);
}

.cadastro {
    margin-top: 100px;
.login {
    margin-top: 100px;
}

.btn{
    width: 60%;
    margin-left: 0px;
    padding-top: 0.10rem;  
    padding-bottom: 0.10rem;
    display: block;
}

.btns-containe{
    display: flex;          
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;        
    gap: 15px;              
    margin-top: 25px;       
    text-align: center;
    margin: 0; 
    flex-shrink: 0;
    padding: 0;
    display: inline-block;
    margin-right:0;
}

.info{
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0px;
}

.form-control {
    background-color: rgb(224, 224, 224);
    border-radius: 0.9rem;
    padding-top: 0.1rem;   
    padding-bottom: 0.1rem;
}

.form-select {
    background-color: rgb(224, 224, 224);
    border-radius: 0.9rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: 1px solid #ced4da;
    font-size: 1rem;
    color: #495057;
    height: auto;
    line-height: normal;
}